__test__
node_modules
scripts
.dockerignore
.gitignore
.firebase
.firebaserc
.github
.vscode
.eslintrc.yml
.stylelintrc.yml
docker-compose.yml
Dockerfile
firebase.json
LICENSE
package-lock.json
package.json
README.md