service cloud.firestore {
  match /databases/{database}/documents {
    match /contacts/{contact} {
      allow write;
      allow read, delete, update: if false;
    }

    match /skills/{skill} {
      allow read;
      allow write, delete, update: if false;
    }
  }
}