header {
  background-color: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0.5em 0.7em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: var(--clr-dark-gray);
  border-radius: 1em;
  height: 3px;
  width: 2em;
  transition: transform ease-in-out 250ms;
}

.hamburger::before,
.hamburger::after {
  content: "";
  left: 0;
  position: absolute;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}
