/* font-face definitions --------------------------------------- */
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  src: url("/fonts/sourcesanspro-light.woff2") format("woff2"),
    url("/fonts/sourcesanspro-light.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  src: url("/fonts/sourcesanspro-regular.woff2") format("woff2"),
    url("/fonts/sourcesanspro-regular.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  src: url("/fonts/sourcesanspro-bold.woff2") format("woff2"),
    url("/fonts/sourcesanspro-bold.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 900;
  src: url("/fonts/sourcesanspro-black.woff2") format("woff2"),
    url("/fonts/sourcesanspro-black.woff") format("woff");
}

/* Setting custom properties ----------------------------------- */
:root {
  --bs: 0.25em 0.25em 0.75em rgb(0 0 0 / 25%),
    0.125em 0.125em 0.25em rgb(0 0 0 / 15%);
  --clr-accent: #0d85ff;
  --clr-dark: #111;
  --clr-dark-gray: #555;
  --clr-gray: #ddd;
  --clr-light: #fff;
  --clr-mod: rgb(20 20 20 / 75%);
  --fc-accent: #0d85ff;
  --fc-dark: #111;
  --fc-light: #fff;
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: monospace;
  --fs-body: 1rem;
  --fs-h1: 3rem;
  --fs-h2: 2.5rem;
  --fs-h3: 1.25rem;
  --fw-bold: 900;
  --fw-reg: 300;
  --fw-semi-bold: 700;
  --gs-filter: grayscale(0);
  --std-transform: transform 200ms ease-in-out;
}

@media (min-width: 800px) {
  :root {
    --fs-body: 1.25rem;
    --fs-h1: 4rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
  }
}

body.darkmode-on {
  --clr-accent: #0030a1;
  --clr-dark-gray: #ccc;
  --clr-light: #333;
  --fc-accent: #eee;
  --fc-dark: #ddd;
  --gs-filter: grayscale(0.25);
}

/* Normalize Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* General Styles */
body {
  --bs: 0.25em 0.25em 0.75em rgb(0 0 0 / 25%),
    0.125em 0.125em 0.25em rgb(0 0 0 / 15%);
  --clr-accent: #0d85ff;
  --clr-light: #fff;
  --fc-accent: #0d85ff;
  --fc-dark: #111;
  --gs-filter: grayscale(0);

  background-color: var(--clr-light);
  color: var(--fc-dark);
  font-display: optional;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;

  &::after {
    /* css preloading images: add more by url(..) url(..) ...etc */
    content: url("/img/code.webp");
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -1;
  }
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;

  &.disable-scroll {
    overflow: hidden;
  }

  &.scrolled .logo {
    opacity: 0.25;
    transition: opacity 0.3s ease-out;
  }
}

@media (min-width: 900px) {
  body.disable-scroll {
    margin-right: 15px;

    header {
      right: 15px;
    }
  }
}

section {
  padding: 5em 2em;
}

img {
  aspect-ratio: auto;
  aspect-ratio: attr(width) / attr(height);
  display: block;
  filter: var(--gs-filter);
  height: auto;
  width: 100%;
}

.logo img {
  height: 48px;
  width: 48px;
}

nav,
.hide {
  display: none;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */
.btn {
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  background-color: var(--clr-accent);
  color: var(--fc-dark);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
  padding: 0.5em 2.5em;
  text-decoration: none;
  text-transform: uppercase;

  @media (prefers-reduced-motion: no-preference) {
    transition: var(--std-transform);

    &:hover {
      transform: scale(0.92) translateZ(0);
    }
  }
}

/* Typography */
h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--fs-h3);
  font-weight: 700;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

.section-title {
  margin-bottom: 0.25em;
}

.section-subtitle {
  font-size: var(--fs-h3);
  margin: 0;
}

.section-content {
  margin-bottom: 1.25em;
}

.intro .section-subtitle,
.about-me .section-subtitle,
.contact-me .section-subtitle {
  background-color: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: 0.25em 1em;
}

.my-work .section-subtitle {
  color: var(--fc-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* Mobile Nav */
.nav {
  background-color: var(--clr-dark);
  bottom: 0;
  color: var(--clr-light);
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  a {
    color: var(--fc-light);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-decoration: none;

    @media (prefers-reduced-motion: no-preference) {
      transition: color 0.3s ease-in-out;

      &:hover,
      &[aria-current="page"] {
        color: var(--clr-dark-gray);
      }
    }
  }

  .list {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (orientation: landscape) {
      flex-direction: row;

      a {
        font-size: var(--fs-h3);
      }
    }
  }
}

.nav-toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0.75em;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

@media (max-width: 899px) {
  .nav-open {
    .hamburger {
      transform: rotate(0.625turn);

      &::after {
        opacity: 0;
      }

      &::before {
        transform: rotate(90deg) translateX(-6px);
      }
    }

    header {
      backdrop-filter: unset;
    }

    .nav {
      display: block;
    }

    .nav-toggle {
      position: fixed;

      &:focus {
        outline: none;
      }
    }
  }
}

@media (min-width: 900px) {
  .logo {
    z-index: 101;
  }

  .nav {
    background-color: transparent;
    display: inline-block;
    position: absolute;

    a {
      color: var(--fc-accent);
      font-size: var(--fs-body);
      font-weight: var(--fw-semi-bold);
    }

    .list {
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 5em;
      z-index: -1;

      > * + * {
        margin-left: 1em;
      }
    }
  }

  .nav-toggle {
    display: none;
  }
}
