.page-controls {
  a {
    text-decoration: none;
  }

  .comment {
    background-color: var(--clr-accent);
    border-radius: 1.75em;
    bottom: 1.5em;
    box-shadow: var(--bs);
    height: 3.5em;
    padding: 1em;
    position: fixed;
    width: 3.5em;
    right: 1em;
    z-index: 5;

    .icon-comment {
      fill: var(--fc-light);
    }

    &.animate-out {
      transform: translateX(4em) translateY(5em);
    }

    @media (prefers-reduced-motion: no-preference) {
      transition: var(--std-transform);

      .icon-comment {
        transition: var(--std-transform);
      }

      &:hover .icon-comment {
        transform: scale(1.1);
      }
    }
  }
}
