.my-services {
  background-blend-mode: color-dodge;
  background-color: var(--clr-dark);
  background-image: url("/img/code.webp");
  background-size: cover;
  color: var(--fc-light);
  text-align: center;
}

.my-services .section-title {
  color: var(--fc-accent);
  position: relative;

  &::after {
    background-color: var(--fc-light);
    content: "";
    display: block;
    height: 1px;
    margin: 0.5em auto 1em;
    opacity: 0.25;
    width: 2em;
  }
}

.services {
  margin-bottom: 4em;
}

.service {
  margin: 0 auto;
  max-width: 500px;

  p {
    background-color: var(--clr-mod);
    border-color: var(--fc-light);
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      45deg,
      var(--fc-accent),
      transparent 50%
    );
    height: 100%;
    padding: 16px;
    margin: 20px 0;
    text-align: left;

    @media (prefers-reduced-motion: no-preference) {
      transition: border 100ms linear;

      &:focus,
      &:hover {
        border-image-source: linear-gradient(
          225deg,
          var(--fc-accent),
          transparent 60%
        );
      }
    }
  }
}
@media (width >= 600px) {
  .my-services {
    .service p {
      filter: blur(0.25em);
      min-height: 200px;
      opacity: 0;
      transform: translateX(-100%);

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 350ms ease-in, opacity 400ms linear;
      }
    }

    &.animate-in {
      .service p {
        filter: blur(0);
        opacity: 1;
        transform: translateX(0);
      }

      .service:nth-child(1) p {
        transition-delay: 200ms;
      }

      .service:nth-child(2) p {
        transition-delay: 400ms;
      }

      .service:nth-child(3) p {
        transition-delay: 600ms;
      }
    }
  }
}

@media (width >= 800px) {
  .services {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }

  .service + .service {
    margin-left: 2em;
  }
}
