.about-me {
  margin: 0 auto;
  max-width: 1000px;

  &__img {
    border-radius: 0.25rem;
    box-shadow: var(--bs);
  }
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-column-gap: 2em;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-template-columns: 1fr 200px;

    &__img {
      transform: rotate3d(1, 1, 1, 5deg);
      transform-style: preserve-3d;
      transition: transform 0.5s;

      &:hover {
        transform: rotate3d(1, 1, 1, 0deg);
      }
    }
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    left: -1em;
    padding-left: 1em;
    padding-right: calc(200px + 4em);
    position: relative;
    width: calc(100% + 2em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}
