---
export interface Props {
  abouts: { [key: string]: string };
}
const { abouts } = Astro.props;
---

<section class="about-me" id="about" data-nosnippet>
  <h2 class="section-title">Who I am</h2>
  <p class="section-subtitle">Working from a remote location</p>
  <div class="section-content">
    {Object.keys(abouts).map((key) => <p data-key={key}>{abouts[key]}</p>)}
  </div>
  <img
    src="/img/about-me.webp"
    loading="lazy"
    width="200"
    height="387"
    alt="Me in Venice, Italy."
  />
</section>
