---
const api = import.meta.env.CONTENT_API;
const response = await fetch(`${api}?ct=abouts`);
const about = await response.json();
---

<section class="about-me" id="about" data-nosnippet>
  <h2 class="section__title section__title--about">Who I am</h2>
  <p class="section__subtitle section__subtitle--about">
    Working from a remote location</p>
  <div class="about-me__body">
    {Object.keys(about).map(key => (
      <p data-key={key}>{about[key]}</p>
    ))}
  </div>
  <img src="/img/about-me.webp" loading="lazy" width="200"
    height="387" alt="Photo in Venice, Italy." class="about-me__img">
</section>

<style>
  .about-me {
    max-width: 1000px;
    margin: 0 auto;
  }

  .about-me__img {
    box-shadow: var(--bs);
  }

  @media (min-width: 600px) {
    .about-me {
      display: grid;
      grid-template-columns: 1fr 200px;
      grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
      grid-column-gap: 2em;
    }

    .section__title--about {
      grid-area: title;
    }

    .section__subtitle--about {
      grid-column: 1 / -1;
      grid-row: 2;
      position: relative;
      left: -1em;
      width: calc(100% + 2em);
      padding-left: 1em;
      padding-right: calc(200px + 4em);
    }

    .about-me__img {
      grid-area: img;
      position: relative;
      z-index: 2;
    }
  }
</style>