---
import "./Contact.scss";

const contactAPI = import.meta.env.CONTACT_API;
---

<section class="contact-me" id="contact" data-nosnippet>
  <h2 class="section__title section__title--contact">Contact Me</h2>
  <p class="section__subtitle section__subtitle--contact">get in touch</p>
  <div class="contact-me__body">
    <form id="contact" action={contactAPI} class="contact-me__form">
      <label for="fname">
        <span>Name</span>
        <input
          type="text"
          id="fname"
          name="fname"
          value=""
          placeholder="name"
          required
        />
      </label>

      <label for="email">
        <span>Email</span>
        <input
          type="email"
          id="email"
          name="email"
          value=""
          placeholder="email"
          required
        />
      </label>

      <label for="comment">
        <span>Comment</span>
        <textarea
          id="comment"
          name="comment"
          cols="30"
          rows="5"
          placeholder="comment"
          required></textarea>
      </label>

      <button id="contact-submit" class="btn" type="submit">Send</button>
    </form>
    <div class="contact-me__success hide" data-nosnippet>
      <p><b>Thanks!</b> Your message was sent successfully.</p>
    </div>
  </div>
  <img
    src="/img/contact.webp"
    loading="lazy"
    width="200"
    height="366"
    alt="Smartphone on desk."
    class="contact-me__img"
  />
</section>

<script>
  import "./Contact.js";
</script>
