---
export interface Props {
  domain: string;
}
const { domain } = Astro.props;
---

<header transition:persist data-nosnippet>
  <div class="logo">
    <a aria-label={`${domain} Logo`} href="/">
      <img
        src="/img/icons/manifest-icon-192.png"
        width="48"
        height="48"
        alt=""
      />
    </a>
  </div>

  <mode-toggle></mode-toggle>

  <button class="nav-toggle" aria-label="Toggle Navigation">
    <span class="hamburger"></span>
  </button>

  <nav class="nav">
    <ul class="list">
      <li class="item">
        <a href="/"> Home</a>
      </li>
      <li class="item">
        <a href="/skills"> Skills</a>
      </li>
      <li class="item">
        <a href="/about"> About</a>
      </li>
      <li class="item">
        <a href="/work"> Work</a>
      </li>
      <li class="item">
        <a href="/contact"> Contact</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  import ModeToggle from "@components/ModeToggle";

  customElements.define("mode-toggle", ModeToggle);

  const onOpen = () => document.body.classList.toggle("nav-open");
  const onClose = () => document.body.classList.remove("nav-open");

  const menu = document.querySelector<HTMLButtonElement>(".nav-toggle");
  menu?.addEventListener("click", onOpen);

  const links = document.querySelectorAll<HTMLAnchorElement>("nav a");
  links.forEach((link) => {
    link.addEventListener("click", onClose);
  });
</script>
