---
export interface Props {
  name: string;
  title: string;
}

const { name, title } = Astro.props;
---

<section class="intro" id="home" data-nosnippet>
  <h1 class="section-title">
    Hello, I am <strong>{name}</strong>
  </h1>

  <p class="section-subtitle">{title}</p>

  <img src="/img/self.webp" width="250" height="262" alt="Me" />
</section>
