---
export interface Props {
  mailToEmail: string;
}
const { mailToEmail } = Astro.props;
---

<div class="page-error hide" transition:persist data-nosnippet>
  <div class="page-error__content">
    <h3>Oopss!</h3>
    <div unselectable="on">
      Something went wrong. The content on this page requires JavaScript and
      other third-party assets to load correctly. Please
      <a href={`mailto:${mailToEmail}`}>contact me</a> if this issue continues.
    </div>
  </div>
</div>
