<div class="page-modal hide" data-nosnippet>
  <div class="page-modal__content"></div>
</div>

<style is:global>
  .page-modal {
    position: fixed;
    margin: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 6;
  }

  .page-modal__content {
    margin: 10vh auto;
    width: 80%;
    max-width: 1000px;
    max-height: 80vh;
    background-color: var(--clr-light);
    color: var(--fc-dark);
    border-radius: 0.25em;
    padding: 2em;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .page-modal__content::-webkit-scrollbar {
    display: none;
  }

  .page-modal__content > div {
    overflow-y: auto;
    height: 100%;
  }

  .page-modal__content > div > div {
    user-select: none;
    margin-top: 0.5em;
    line-height: 1.4;
  }

  .page-modal__content ul {
    margin: 0.5em 0;
    padding-left: 1.25em;
    list-style: circle;
  }
</style>