---
export interface Props {
	mailToEmail: string;
}
const { mailToEmail } = Astro.props;
---

<div class="page-error hide" data-nosnippet>
  <div class="page-error__content">
    <h3>Oopss!</h3>
    <div unselectable="on">Something went wrong.  The content on this page
      requires JavaScript and other third-party assets to load correctly.  Please
      <a href={`mailto:${mailToEmail}`}>contact me</a> if this issue continues.
    </div>
  </div>
</div>

<style>
  .page-error {
    color: white;
    padding: 4rem;
    position: fixed;
    background: rgba(100,100,0,0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
  }
</style>