<div class="page-controls hide" data-nosnippet>
  <a aria-label="Contact Me" href="#contact">
    <div class="page-controls__comment">
      <svg class="icon-comment" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
        <path d="M113,0H15A15,15,0,0,0,0,15V79.57a15,15,0,0,0,15,15H38.28a1,1,0,0,1,1,1V121a7,7,0,0,0,11.95,4.95L82.31,94.87a1,1,0,0,1,.71-.29h30a15,15,0,0,0,15-15V15A15,15,0,0,0,113,0Zm9,79.57a9,9,0,0,1-9,9H83a7,7,0,0,0-4.95,2L47,121.7a1,1,0,0,1-1.71-.71V95.57a7,7,0,0,0-7-7H15a9,9,0,0,1-9-9V15a9,9,0,0,1,9-9h98a9,9,0,0,1,9,9Z"/>
      </svg>
    </div>
  </a>
</div>

<style>
  .page-controls a {
    text-decoration: none;
  }

  .page-controls__comment {
    position: fixed;
    width: 3.5em;
    height: 3.5em;
    padding: 1em;
    right: 1em;
    bottom: 1.5em;
    border-radius: 1.75em;
    background-color: var(--clr-accent);
    z-index: 5;
    box-shadow: var(--bs);
    transition: var(--std-transform);
  }

  .page-controls__comment.animate-out {
    transform: translateX(4em) translateY(5em);
  }

  .page-controls__comment .icon-comment {
    fill: var(--fc-light);
    transition: var(--std-transform);
  }

  .page-controls__comment:hover .icon-comment {
    transform: scale(1.1);
  }
</style>