---
import "./PageLoad.scss";

export interface Props {
  delay: number;
}

const { delay } = Astro.props;
---

<div class="page-loading">
  <div class="spinner"></div>
</div>

<script define:vars={{ delay }} is:inline>
  setTimeout(() => {
    const pageLoading = document.querySelector(".page-loading");
    if (pageLoading) {
      pageLoading.classList.add("hide");
    }
  }, delay);
</script>
