---
export interface Props {
  skills: { [key: string]: string };
}

const { skills } = Astro.props;
const skillsOrder = ["Frontend", "Backend", "Data"];
---

<section class="my-services" id="services" data-nosnippet>
  <h2 class="section-title">What I do</h2>
  <div class="services">
    {
      skillsOrder.map((key) => (
        <div data-key={key} class="service">
          <h3>{key}</h3>
          <p>{skills[key]}</p>
        </div>
      ))
    }
  </div>
  <a href="#work" class="btn">My Work</a>
</section>
