.my-services {
  background-color: var(--clr-dark);
  background-size: cover;
  background-blend-mode: color-dodge;
  color: var(--fc-light);
  text-align: center;
}

.section__title--services {
  color: var(--fc-accent);
  position: relative;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background-color: var(--fc-light);
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

.service p {
  height: 100%;
  text-align: left;
  background-color: var(--clr-mod);
  padding: 16px;
  border-color: var(--fc-light);
  border-width: 1px;
  border-style: solid;
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--fc-light);
  transition: outline-offset 150ms ease;
}

.service p:hover,
.service p:focus {
  outline-offset: -0.3em;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }

  .service p {
    min-height: 350px;
  }
}