---
import "./Work.scss";

const api = new URL(import.meta.env.CONTENT_API);
api.search = new URLSearchParams({ ct: "works" }).toString();

const response = await fetch(api.toString());
const works = await response.json();
---

<section class="my-work" id="work" data-nosnippet>
  <div class="content">
    <h2 class="section-title">My Work</h2>
    <p class="section-subtitle">A selection of my range of work</p>
    <div class="portfolio">
      <div class="item" data-workid="Fundraising">
        <div class="title">Fundraising</div>
        <img
          src="/img/crowd-fundraising.webp"
          loading="lazy"
          width="372"
          height="248"
          alt=""
        />
      </div>
      <div class="item" data-workid="Entertainment">
        <div class="title">Entertainment</div>
        <img
          src="/img/concert.webp"
          loading="lazy"
          width="372"
          height="248"
          alt=""
        />
      </div>
      <div class="item" data-workid="Business">
        <div class="title">Business</div>
        <img
          src="/img/business-coffee-shop.webp"
          loading="lazy"
          width="372"
          height="248"
          alt=""
        />
      </div>
      <div class="item" data-workid="Telecommunications">
        <div class="title">Telecommunications</div>
        <img
          src="/img/telecom.webp"
          loading="lazy"
          width="372"
          height="248"
          alt=""
        />
      </div>
      <div class="item" data-workid="Government">
        <div class="title">Government</div>
        <img
          src="/img/capital.webp"
          loading="lazy"
          width="372"
          height="248"
          alt=""
        />
      </div>
      <div class="item" data-workid="Web">
        <div class="title">Web</div>
        <img
          src="/img/code-two-screens.webp"
          loading="lazy"
          width="372"
          height="248"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<script define:vars={{ works }}>
  const renderModal = () => {
    const body = document.querySelector("body");
    const modalToggleLinks = document.querySelectorAll(".portfolio .item");
    const modalContainer = document.querySelector(".page-modal");

    // hide if browser does not support dialog/showModal
    if (typeof modalContainer.showModal !== "function") {
      modalContainer.hidden = true;
    }

    if (modalToggleLinks) {
      modalToggleLinks.forEach((link) => {
        link.addEventListener("click", (el) => {
          el.stopPropagation();
          const title = el.target.parentElement.dataset.workid;
          const description = works[title]
            ? works[title]
            : {
                title: "Oopss!",
                description: "Something went wrong.  Please try again.",
              };
          const html = `
            <div data-id="${title}">
              <h3>${title}</h3>
              <div unselectable="on">${description}</div>
            </div>
          `;

          modalContainer.innerHTML += html;
          if (typeof modalContainer.showModal === "function") {
            modalContainer.showModal();
            body.classList.add("disable-scroll");
          }
        });
      });
    }

    if (modalContainer) {
      modalContainer.addEventListener("click", () => {
        body.classList.remove("disable-scroll");
        modalContainer.close();
        modalContainer.innerHTML = "";
      });
    }
  };

  renderModal();
</script>
