/* Animations */
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
section {
  padding: 5em 2em;
}
img {
  display: block;
  aspect-ratio: auto;
  aspect-ratio: attr(width) / attr(height);
  height: auto;
  width: 100%;
}
.logo img {
  width: 48px;
  height: 48px;
}
nav,
.hide {
  display: none;
}
#services {
  background-image: url("/img/code.webp");
}

strong {
  font-weight: var(--fw-bold);
}

img {
  filter: var(--gs-filter);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background-color: var(--clr-accent);
  color: var(--fc-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: var(--std-transform);
}

.btn:hover {
  transform: scale(0.97);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--contact {
  background-color: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* Mobile Nav */
nav {
  display: none;
  position: fixed;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: var(--fc-light);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.75em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1000;
}

.darkmode-toggle {
  display: inline-block;
  margin: 0 5em 0 0;
  padding-top: 0.7em;
}

.darkmode-toggle__checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.darkmode-toggle__label {
  cursor: pointer;
  width: 2.5em;
  height: 1.25em;
  background: var(--clr-gray);
  display: inline-block;
  border-radius: 1em;
  padding: 0.125em;
  position: relative;
}

.darkmode-toggle__label::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  background: var(--clr-light);
  background-image: url("/img/svg/lightbulb-dark.svg");
  border-radius: 0.8em;
  transition: all ease 0.3s;
}

.darkmode-toggle__label:has(.darkmode-toggle__checkbox:checked) {
  background: var(--clr-accent);
}

.darkmode-toggle__label:has(.darkmode-toggle__checkbox:checked)::after {
  background-image: url("/img/svg/lightbulb-light.svg");
  transform: translateX(1.25em); /* TODO: use vars, width - height */
}

@media (max-width: 899px) {
  .nav-open header {
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
  }

  .nav-open nav {
    display: block;
  }

  .nav-open .nav-toggle {
    position: fixed;
  }

  .nav-open .nav-toggle:focus {
    outline: none;
  }

  .nav-open .hamburger {
    transform: rotate(0.625turn);
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }

  .nav-open .hamburger::after {
    opacity: 0;
  }
}

@media (min-width: 900px) {
  .logo {
    z-index: 101;
  }

  .nav-toggle {
    display: none;
  }

  .darkmode-toggle {
    margin-right: 0;
    z-index: 101;
  }

  .nav {
    display: inline-block;
    position: absolute;
    background-color: transparent;
  }

  .nav__list {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5em;
    z-index: -1;
  }

  .nav__link {
    color: var(--fc-accent);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-body);
  }

  .nav__list > * + * {
    margin-left: 1em;
  }
}
